@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
/* @import url("../../node_modules/slick-carousel/slick/slick.css");
@import url("../../node_modules/slick-carousel/slick/slick-theme.css"); */

/* .top-bar */
.top-bar {
  background-color: #1a56d6;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.top-bar a {
  color: #fff;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.top-bar a i {
  margin-right: 10px;
}

/* .Nav-bar */

.header {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #1a56d6;
}

.header .nav-bar {
  width: 100%;
  padding: 0;
}

.header .nav-item .nav-link {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 18px;
  padding: 0;
}

/* slider */

/* .slider {
  position: relative;
  padding-bottom: 90px;
} */

#carouselExampleControls {
  position: absolute;
  z-index: 1;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 0;
  transform: translateY(10%);
  color: black;
  margin-left: 0;
}

.carousel-caption h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-size: 72px;
  font-weight: bold;
  color: #333333;
}

.carousel-item img {
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption p {
  font-size: 30px;
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #666666;
}

.line {
  margin-bottom: 30px;
  color: #707070;
}

/* Event-Card */

.event-section {
  position: relative;
  z-index: 2;
  margin-top: 30%;
  margin-bottom: 90px;
}

.card {
  width: 100%;
  height: 100%;
  border: none;

}

.card:hover {
  box-shadow: 1px 1px 0px 1px #e0e0e0;
}

.event-section .card-body {
  padding: 30px;
}

.event-section .card .Event-top span {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  color: #e6e6e6;
}

.event-section .card .Event-top {
  margin-bottom: 25px;
}

.event-section .card .event-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #4d4d4d;
  margin: 0;
}

.event-section .card .event-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #808080;
}

.event-section .event-text::after {
  content: "";
  background: #1a56d6;
  width: 85px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 20px;
  display: block;
}

.event-time {
  font-size: 16px;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.event-button {
  border: 2px solid #1a56d6;
  background-color: #fff;
  color: #1a56d6;
  font-weight: bold;
  padding: 0;
  border-radius: 0px;
  padding: 10px 20px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.event-button:hover,
.admission-button:hover {
  color: #fff;
  background-color: #1a56d6;
  cursor: pointer;
}

.admission-title {
  font-weight: bold;
  font-size: 34px;
  font-family: "PT Serif", serif;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 45px;
}

.admission-button {
  border: 2px solid #1a56d6;
  background-color: #fff;
  color: #1a56d6;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 20px 40px;
  margin-bottom: 10px;
  border-radius: 0px;
}

/* About-Section */
.about-Section h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #192041;
  margin-bottom: 50px;
}

.about-Section p {
  font-size: 16px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  color: #747474;
  line-height: 20px;
}

.about-Section .event-button {
  margin-top: 50px;
  padding: 10px 30px;
  margin-bottom: 90px;
}

/* course-section */

.course-sction h1 {
  font-size: 30px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #4c4c4c;
  padding-top: 90px;
  padding-bottom: 45px;
}

.course-sction {
  padding-bottom: 90px;
}

.courses {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 70px 130px;
  border-radius: 2px;

}

.courses:hover {
  box-shadow: 1px 1px 0px 1px #e0e0e0;
}

.courses img {
  margin-bottom: 10px;
}

.course-sction .row {
  padding-bottom: 18px;
}

.course-sction p {
  font-size: 20px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #666666;
}

.course-sction {
  background-color: #f7f7f7;
}

/* latest-course section */
.latest-course {
  padding-bottom: 90px;
}

.latest-course .card {
  width: 100%;
  height: 100%;
  border: none;

}

.latest-course .card:hover {
  box-shadow: 1px 1px 0px 1px #e0e0e0;
}


.latest-course h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #4c4c4c;
  padding-bottom: 45px;
  padding-top: 90px;
}

.course-top i span {
  color: #bdbdbd;
  font-family: "PT Serif", serif;
  font-size: 13px;
  margin-left: 5px;
}

.course-top i {
  color: #bdbdbd;
}

.course-top {
  margin-bottom: 10px;
}

.course-top .price {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 23px;
  color: #1414d9;
}

.course-middle span {
  color: #333333;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 18px;
}

.course-middle {
  margin-bottom: 45px;
}

.latest-course p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-bottom: 45px;
}

/* achievement section*/

.achievement-section .achievement-row::after {
  content: "";
  background: #555555;
  width: 365px;
  height: 1px;
  margin-top: 45px;
  margin-bottom: 40px;
  display: block;
}

.achievement-text span {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 5px;
}

.achievement-section h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 90px;
  padding-bottom: 45px;
}

.achievement-icon {
  margin-right: 30px;
}

.achievement-section p {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 16px;
  color: #7f7f7f;
}

.achievement-section {
  padding-bottom: 90px;
  background-color: #f7f7f7;
}


.video-description {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: #7f7f7f;
  margin-bottom: 45px;
}

.ply-btn {
  transition: 0.5;
  opacity: 0;
}

.modal-content {
  border: 0;
  background: transparent;
}

.banner-title:hover .ply-btn {
  opacity: 1;
}

.banner-title {
  text-align: center;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

.achievement-banner {
  background-image: url("../../data/subbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* live-class-section-section */

.live-class-section {
  padding-bottom: 90px;
  padding-top: 90px;
}

.live-class-section span {
  font-family: "PT Serif", serif;
  color: #4d4d4d;
  font-size: 24px;

  margin-bottom: 15px;
}

.live-class-section h3 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 36px;
  margin-bottom: 45px;
}

.live-class-section p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  text-align: left;
  line-height: 24px;
  margin-bottom: 60px;
}



/* .
/* portal-section */

.portal-section {
  padding-top: 90px;
  padding-bottom: 90px;

}

.portal-section .row {
  margin-bottom: 50px;
}

.portal-section h3 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 45px;
}

.portal-section span {
  font-family: "PT Serif", serif;
  font-size: 13px;
  color: #808080;
  padding-top: 25px;
}

.portal-section p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* foote-section */

footer {
  background-color: #212121;
  color: #d4d4d4;
  padding-top: 90px;
  padding-bottom: 20px;
}

footer h1 {
  font-family: "PT Serif",
    serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding-bottom: 130px;
}

footer .col-3 ul {
  list-style: none;
}

footer .col-3 ul li a {
  color: #d3d3d3;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
}


footer a {
  color: #fff;
  text-decoration: none;
}

.address h4 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.address p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: #d3d3d3;
  line-height: 24px;
  padding-bottom: 25px;
}

.address span {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.address a {
  font-family: "PT Serif", serif;
  font-weight: 400;
  color: #d3d3d3;
  font-size: 16px;
}

.address {
  margin-bottom: 150px;
}

.links {
  font-family: "PT Serif", serif;
  font-weight: bold;
  padding-top: 185px;
  color: #fff;
  font-size: 18px;
}

.box button,
input {
  border-radius: 0;
}

.box input {
  background-color: #212121;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 13px;
  width: 300px;
  height: 50px;
}

.box button {
  background-color: #fff;
  color: #212121;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  width: 150px;
  height: 50px;
}

.icons {
  margin-top: 60px;
  margin-bottom: 40px;
}

.icons i {
  margin-left: 12px;
  font-size: 18px;
  color: #ffffff;
}


.footer-bottom i {
  margin-right: 10px;
  color: #ffffff;
}

.footer-bottom a {
  text-decoration: none;
  margin-right: 35px;
  color: #a2a2a2;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
}

.footer-bottom::before {
  content: "";
  background: #fff;
  width: 1170px;
  height: 1px;
  display: block;
  margin-bottom: 20px;
}

.footer-bottom p {
  color: #a2a2a2;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 16px;
}

.footer-bottom {

  padding-bottom: 40px;
}